[submodule "NaVILA"]
	path = NaVILA
	url = https://github.com/AnjieCheng/NaVILA.git
[submodule "NaVILA-Bench"]
	path = NaVILA-Bench
	url = https://github.com/yang-zj1026/NaVILA-Bench.git
[submodule "IsaacLab"]
	path = IsaacLab
	url = https://github.com/yang-zj1026/IsaacLab.git

